/* bootswatch overrides */
.navbar{
  box-shadow: none;
}
.small,small{
  font-size: 70%;
}

/* app styles */

.container{
  width:90%;
  margin:0 auto;
}

td.datenowrap {
  min-width: 90px;
}
td.nowrap {
  min-width: 160px;
}
.navbar{
	margin-bottom: 0px;
}
#dashcontainer{
  /*text-align: center;*/
}
#dashcontainer th{
  /*text-align: center;*/
}
.center{
	text-align: center;
}
.same-shipment{
  padding: 11.5px 23px;
  margin: 0 0 23px;
  font-size: 16.25px;
  border-left: 5px solid #eeeeee;
}
.left-margin{
  margin-left:2%;
}
.status{
  display: none;
}
.overlay-box{
  margin: -10px auto;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 100;
}
.centered-panel{
  border: 1px solid #eee;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  -webkit-box-shadow: 2px 14px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 14px 10px rgba(0, 0, 0, 0.3);
}
.success-box{
  padding: 1px 5px;
}
.location{
  border-left: 2px solid #aaa;
  margin-left:5px;
  padding-left:5px;
}
.hide{
  display:none;
}
#loading{
  text-align: center;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  cursor: default;
}
.darker{
  color:#666666 !important;
}
.filter{
  display: inline;
  margin-left: 5px;
}
.tight-hr{
  margin-top: 0;
  margin-bottom: 5px;
}
.small-in-header{
  font-size: 80%;
}
.float{
  clear:both;
}
.left{
  float:left;
}
.right{
  float: right;
}
.pagination{
  margin:0;
}
.location-filters{
  margin-top: 15px;
}
.hidden{
  display: none;
}
