
/* bootswatch overrides */
.navbar{
  box-shadow: none;
}
.small,small{
  font-size: 70%;
}

/* app styles */

#content{
  width:90%;
  margin:0 auto;
}

td.datenowrap {
  min-width: 90px;
}
td.nowrap {
  min-width: 160px;
}
.dashcontainer{
	width:90%;
	margin: 0 auto;
}
.navbar{
	margin-bottom: 0px;
}
.center{
	text-align: center;
}
.same-shipment{
  padding: 11.5px 23px;
  margin: 0 0 23px;
  font-size: 16.25px;
  border-left: 5px solid #eeeeee;
}
.left-margin{
  margin-left:2%;
}
.status{
  display: none;
}
.overlay-box{
  text-align: center;
  width: 50%;
  margin: -10px auto;
  border: 1px solid #eee;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 100;
  -webkit-box-shadow: 2px 14px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 14px 10px rgba(0, 0, 0, 0.3);
}
.success-box{
  padding: 1px 5px;
}