<div ng-include src="'static/bots_angular/app/partials/header.html'"></div>
<div class="container ">

  <div>
    <h3 id="title">Receive External Shipment <span id="shipment_name" ng-show="shipment.name">-  {{shipment.name}} <span ng-show="shipment.id">| {{shipment.id}}</span></span></h3>
    <div class="left_margin" ng-show="shipment.active">Editing an active shipment.</div>
    <hr>
  </div>

  <div ng-hide="show_results" class="progress progress-striped active">
    <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    </div>
  </div>
  <div ng-show="show_results">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Supplier Delivery ID (optional):</label>
        <div class="col-sm-10">
          <input ng-show="editing_name" type="text" class="form-control input delivery_note" ng-blur="submit_name()" placeholder="e.g. IN4325245" ng-model="shipment.name"/>
          <p class="form-control-static" ng-hide="editing_name">
            <span class="name_text">{{shipment.name}}</span>
            <a href id="change_name" ng-hide="shipment.active" ng-click="edit_name()">(edit)</a>
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="date" class="col-sm-2 control-label">Shipment Date: </label>
        <div class="col-sm-10">
          <input ng-show="editing_date" type="text" class="form-control input input_date" ng-blur="submit_date()" placeholder="dd/mm/yy" ng-model="shipment.date">
          <div ng-show="bad_date" id="bad_date" class="text-danger">Invalid, date must be valid and in the format dd/mm/yy</div>
          <p class="form-control-static" ng-hide="editing_date">
            <span class="date_text">{{shipment.date |  date:'MMMM d, yyyy' }}</span>
            <a href ng-hide="shipment.active" id="change_date" ng-click="edit_date()">(edit)</a>
          </p>
        </div>
      </div>
      <div class="form-group from_location">
        <label for="from_location" class="col-sm-2 control-label">Supplier: </label>
        <div class="col-sm-10">
          <span ng-show="editing_from_location"><ia-search-drop search-drop-config="from_location_search_config"></ia-search-drop></span>
          <p class="form-control-static" ng-hide="editing_from_location">
            <span class="from_location_text">{{shipment.from_location.name}}</span>
            <a href id="change_from_location" ng-hide="shipment.active" ng-click="edit_from_Location()">(edit)</a>
          </p>
        </div>
      </div>
      <div class="form-group to_location">
        <label for="to_location" class="col-sm-2 control-label">To Location: </label>
        <div class="col-sm-10">
          <span ng-show="editing_to_location"><ia-search-drop search-drop-config="to_location_search_config"></ia-search-drop></span>
          <p class="form-control-static" ng-hide="editing_to_location">
            <span class="to_location_text">{{shipment.to_location.name}}</span>
            <a href id="change_to_location" ng-hide="shipment.active" ng-click="edit_to_location()">(edit)</a>
          </p>
        </div>
      </div>
      <div class="form-group add_item" ng-show="shipment.id">
        <label for="add_item" class="col-sm-2 control-label">Select items for shipment:</label>
        <div class="col-sm-10">
          <ia-search-drop search-drop-config="item_search_config"></ia-search-drop>
        </div>
      </div>
      <div>
        <div class="form-group">
          <div class="right" ng-if="itemlots_pagination_config">
            <ia-pagination pagination-config="itemlots_pagination_config" loading="loading_itemlots"></ia-pagination>
          </div>
          <table ng-show="itemlots[0]" class="table table-striped">
            <thead>
              <tr>
                <th>Item</th>
                <th>Item Category</th>
                <th>Quantity</th>
                <th>Expiration</th>
                <th>Lot Num</th>
                <th>Unit Price</th>
                <th>Total Price</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-show="itemlots.length === 0 || itemlots" ng-repeat="itemlot in itemlots">
                <td>{{itemlot.item.name}}</td>
                <input type="hidden" class="hide" ng-model="itemlot.id"/>
                <td class="small">{{itemlot.item.category.name}}</td>
                <td>{{itemlot.qty}}</td>
                <td>{{itemlot.expiration | date:'MMMM d, yyyy' }}</td>
                <td>{{itemlot.lot_num}}</td>
                <td>{{itemlot.unit_price | number:2}}</td>
                <td>{{itemlot.qty * itemlot.unit_price | number:2}} </td>
                <td>
                  <button ng-click="edit_itemlot(itemlot)" id="start_edit" class="btn btn-default">Edit</button>
                </td>
                <td>
                  <button ng-click="delete_itemlot_confirm(itemlot)" id="delete_itemlot_confirm" class="btn btn-default">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
          <div ng-hide="itemlots.length === 0 || itemlots" class="progress progress-striped active">
            <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            </div>
          </div>
        </div>
        <div class="form-group" ng-show="itemlots[0]" >
          <label for="total_items" class="col-sm-2 control-label">Total value of items: </label>
          <div class="col-sm-10">
            <p class="form-control-static">
              {{total_price | number:2}}
            </p>
          </div>
        </div>
        <div class="form-group" ng-show="itemlots[0]" >
          <label for="total_items" class="col-sm-2 control-label">Total number of items: </label>
          <div class="col-sm-10">
            <p class="form-control-static">
              {{pagination_data.total_count}}
            </p>
          </div>
        </div>
        <hr>
        <button class="btn btn-default delete_shipment" data-toggle="modal" data-backdrop="false" data-target="#delete_shipment_modal" ng-show="shipment.id">Delete Shipment</button>
        <span ng-include src="'static/bots_angular/app/partials/modals/delete_itemlot_confirm.html'"></span>
        <span ng-hide="shipment.active">
          <button class="btn btn-primary submit_shipment" data-toggle="modal" data-target="#confirm_shipment_modal" ng-show="shipment.id">Receive Shipment</button>
        </span>
        <span ng-show="shipment.active">
          <a ng-show="shipment.id" class="btn btn-primary" href="#/shipment/{{shipment.id}}/">Done Editing</a>
        </span>
      </div>
      <br>
      <br>
    </form>
  </div>
</div>

<div ng-include src="'static/bots_angular/app/partials/modals/delete_itemlot_confirm.html'"></div>
<div ng-include src="'static/bots_angular/app/partials/modals/add_item.html'"></div>
<div ng-include src="'static/bots_angular/app/partials/modals/edit_itemlot.html'"></div>
<div ng-include src="'static/bots_angular/app/partials/modals/add_from_location.html'"></div>
<div ng-include src="'static/bots_angular/app/partials/modals/add_to_location.html'"></div>
<div ng-include src="'static/bots_angular/app/partials/modals/confirm_shipment.html'"></div>
<div ng-include src="'static/bots_angular/app/partials/modals/delete_shipment_confirm.html'"></div>
