<div class="navbar navbar-default navbar-fixed-top" ng-controller="GlobalCtrl">
  <div class="container">
    <div class="navbar-header">
      <a href="#/" class="navbar-brand">Bots</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Receive<span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="themes">
            <li><a tabindex="-1" href="#/shipments?from_location__location_type=S&active=true&location={{userpreferences.default_location.id}}">All</a></li>
            <li><a tabindex="-1" href="#/shipments?from_location__location_type=S&active=false&location={{userpreferences.default_location.id}}">Pending</a></li>
            <li class="divider"></li>
            <li><a tabindex="-1" href="#/shipment/edit_receive/">Create</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Transfer<span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="download">
            <li><a tabindex="-1" href="#/shipments?from_location__location_type=I&active=true&location={{userpreferences.default_location.id}}">All</a></li>
            <li><a tabindex="-1" href="#/shipments?from_location__location_type=I&active=false&location={{userpreferences.default_location.id}}">Pending</a></li>
            <li class="divider"></li>
            <li><a tabindex="-1" href="#/shipment/edit_transfer/">Create</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Dispense<span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="themes">
            <li><a tabindex="-1" href="#/shipments?from_location__location_type=D&active=true&location={{userpreferences.default_dispensary.id}}">All Dispense Reports</a></li>
            <li><a tabindex="-1" href="#/shipments?from_location__location_type=D&active=false&location={{userpreferences.default_dispensary.id}}">Pending Dispense Reports</a></li>
            <li class="divider"></li>
            <li><a tabindex="-1" href="#/shipment/edit_transfer/?dispense=true">Create Dispense Report</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Reports<span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="themes">
            <li><a tabindex="-1" href="#/reports/">Standard Reports</a></li>
<!--             <li><a tabindex="-1" href="#/physical">Physical Stock Count</a></li>
 -->          </ul>
        </li>
        <li class="dropdown" ng-show="userpreferences.user.is_superuser">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Admin<span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="themes">
            <li><a tabindex="-1" href="#/items/">Items</a></li>
            <li><a tabindex="-1" href="#/locations">Locations</a></li>
            <li><a tabindex="-1" href="#/patients">Patients</a></li>
            <li><a tabindex="-1" href="#/users">Users</a></li>
            <li><a tabindex="-1" href="#/transactions">All Transactions</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left item_search_container">
        <ia-search-drop class="item_search_directive" search-drop-config="item_search_config"></ia-search-drop>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li><a ng-show="logged_in" href="/accounts/signout">{{userpreferences.user.username}} | sign out</a></li>
      </ul>

    </div>
  </div>
</div>
<div class="container-main"></div>
  <div class="alert hide alert-danger container" id="server_error">
<button type="button" class="close" aria-hidden="true">&times;</button>
    <strong>Server Error</strong> -- <span class="error_text">please try again later.</span> 
  </div>

<div ng-include src="'static/bots_angular/app/views/modals/user_prefs.html'"></div>
