<div ng-include src="'static/bots_angular/app/views/header.html'"></div>
<div class="container">
  <div>
    <h3 id="title">Run Report - <span ng-show="report_type.inventory">Inventory</span><span ng-show="report_type.consumption">Consumption</span><span ng-show="report_type.expirations">Expirations</span></h3>
    <hr>
  </div>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="report" class="col-sm-2 control-label">Report: </label>
      <div class="col-sm-10">
        <button tabindex="1" class="btn btn-default" tooltip="Stock on hand on a given date" ng-click="switch_report('inventory')" ng-class="{'btn-primary': report_type.inventory}">Inventory</button>
        <button tabindex="2" class="btn btn-default consumption_report" tooltip="Standardized report over specific timeframe" ng-click="switch_report('consumption')" ng-class="{'btn-primary': report_type.consumption}">Consumption</button>
        <button tabindex="3" class="btn btn-default" ng-click="switch_report('expirations')" tooltip="Quantities that have expired or will be expiring on a given timeframe" ng-class="{'btn-primary': report_type.expirations}">Expirations</button>
      </div>
    </div>
    <div class="form-group" ng-hide="report_type.expirations">
      <label for="inventory_category_item" class="col-sm-2 control-label">Item or Lot level: </label>
      <div class="col-sm-10">
        <button class="btn btn-xs btn-default" tabindex="8" ng-click="switch_itemlot_level()" ng-class="{'btn-primary': !itemlot_level}">Item Level</button>
        <button class="btn btn-xs btn-default" tooltip="Shows inventory levels at the item lot level (expiration) level. Will not show item lots with zero values." tabindex="9" ng-click="switch_itemlot_level()" ng-class="{'btn-primary': itemlot_level}">Lot Level</button>
      </div>
    </div>
    <div class="form-group inventory_location">
      <label for="inventory_location" class="col-sm-2 control-label">Location: </label>
      <div class="col-sm-10">
        <span ng-show="editing_location"><ia-search-drop search-drop-config="location_search_config"></ia-search-drop></span>
        <p class="form-control-static" ng-hide="editing_location">
          <span class="from_location_text">{{location.name}}</span>
          <a href id="change_from_location" ng-click="edit_location()">change</a>
        </p>
      </div>
    </div>
    <div class="form-group inventory_category">
      <label for="inventory_category" class="col-sm-2 control-label">Category: </label>
      <div class="col-sm-10 dropdown">
        <input type="text" tabindex="7" data-toggle="dropdown" class="form-control input category_input" ng-show="editing_inventory_category" placeholder="Category name, e.g. ARVs" ng-change="inventory_category_search(inventory_category_q)"  ng-model="inventory_category_q">
        <ul class="dropdown-menu search-dropdown-nav"  role="menu" aria-labelledby="dLabel">
          <li ng-repeat="inventory_category in inventory_category_results">
            <a href ng-click="submit_inventory_category(inventory_category)">{{inventory_category.name}}</a>
          </li>
          <li class="divider"></li>
          <li >
            <a href ng-click="submit_inventory_category(all_category)">{{all_category.name}}</a>
          </li>
          <li ng-hide="inventory_category_results[0]" class="divider"></li>
          <li ng-hide="inventory_category_results[0]"><a href>No categories match "{{inventory_category_q}}"</a></li>
        </ul>
        <p class="form-control-static" ng-hide="editing_inventory_category">
          <span class="category_text">{{inventory_category.name}}</span>
          <a href id="change_inventory_category" ng-click="edit_inventory_category()">(edit)</a>
        </p>
      </div>
    </div>
    <div class="form-group inventory_start_date">
      <label for="date" class="col-sm-2 control-label"><span ng-hide="report_type.inventory || report_type.short">Start </span>Date: </label>
      <div class="col-sm-10">
        <input tabindex="4" ng-show="editing_date" type="text" class="form-control input start_date_input" ng-blur="submit_date()" placeholder="dd/mm/yy" ng-model="start_date">
        <div ng-show="bad_date" id="bad_date" class="text-danger">Invalid, date must be valid and in the format dd/mm/yy</div>
        <p class="form-control-static" ng-hide="editing_date">
          <span class="start_date_text">{{start_date |  date:'MMM d, yyyy' }}</span>
          <a href ng-hide="editing_start_date" id="change_date" ng-click="edit_date()">(edit)</a>
        </p>
      </div>
    </div>
    <div ng-hide="report_type.inventory || report_type.short" class="form-group inventory_end_date">
      <label for="date" class="col-sm-2 control-label"><span >End </span>Date: </label>
      <div class="col-sm-10">
        <input tabindex="5" ng-show="editing_end_date" type="text" class="form-control input end_date_input" ng-blur="submit_end_date()" placeholder="dd/mm/yy" ng-model="end_date">
        <div ng-show="bad_end_date" id="bad_end_date" class="text-danger">Invalid, date must be valid and in the format dd/mm/yy</div>
        <p class="form-control-static" ng-hide="editing_end_date">
          <span class="end_date_text">{{end_date |  date:'MMMM d, yyyy' }}</span>
          <a href ng-hide="editing_end_date" id="change_date" ng-click="edit_end_date()">(edit)</a>
        </p>
        <div ng-show="backwards_dates" id="backwards_dates" class="text-danger">Start date should be before end date.</div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10">
        <button type="submit" tabindex="10" class="btn btn-default run_report" ng-click="run_inventory()">Run Report</button> 
        <button type="submit" tabindex="11" ng-show="report_rows" class="btn btn-default" ng-click="download()">Download TSV</button> 
      </div>
    </div>
  </form>
  <hr>
  <div ng-show="loading_report" class="progress progress-striped active">
    <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    </div>
  </div>
  <table ng-show="!itemlot_level && report_type.inventory && !loading_report" class="table table-striped">
    <thead>
      <tr>
        <th>Item</th>
        <th>Item Category</th>
        <th>Quantity</th>
        <th>Item Lot Avg Price</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in report_rows">
        <td><a href="#/item/{{row[0]}}?location={{location.id}}">{{row[1]}}</a></td>
        <td class="small">{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4] | number:2}}</td>
      </tr>
    </tbody>
  </table>

  <table ng-show="itemlot_level && report_type.inventory && !loading_report" class="table table-striped">
    <thead>
      <tr>
        <th>Item</th>
        <th>Item Category</th>
        <th>ItemLot System ID</th>
        <th>Expiration</th>
        <th>ItemLot Number</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Total Value</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in report_rows">
        <td><a href="#/item/{{row[0]}}?location={{location.id}}">{{row[1]}}</a></td>
        <td class="small">{{row[2]}}</td>
        <td><a href="#/item/{{row[0]}}?location={{location.id}}&itemlot={{row[3]}}">{{row[3]}}</a></td>
        <td>{{row[4] | date:'MM/yyyy'}}</td>
        <td>{{row[5]}}</td>
        <td>{{row[6]}}</td>
        <td>{{row[7] | number:2}}</td>
        <td>{{row[6] * row[7] | number:2}}</td>
      </tr>
    </tbody>
  </table>

  <table ng-show="itemlot_level && report_type.consumption && !loading_report" class="table table-striped">
    <thead>
      <tr>
        <th>Item</th>
        <th>Item Category</th>
        <th>ItemLot System ID</th>
        <th>Expiration</th>
        <th>ItemLot Number</th>
        <th>Opening Qty</th>
        <th>Received Qty </th>
        <th>Closing Qty</th>
        <th>Consumed Qty </th>
        <th>Expired Qty</th>
        <th>Lost/Damanged Qty</th>
        <th>Adjustments Qty</th>
        <th>Unit Price</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in report_rows">
        <td><a href="#/item/{{row[0]}}?location={{location.id}}">{{row[1]}}</a></td>
        <td class="small">{{row[2]}}</td>
        <td><a href="#/item/{{row[0]}}?location={{location.id}}&itemlot={{row[3]}}">{{row[3]}}</a></td>
        <td>{{row[4]}}</td>
        <td>{{row[5]}}</td>
        <td>{{row[6]}}</td>
        <td>{{row[7]}}</td>
        <td>{{row[8]}}</td>
        <td>{{row[9]}}</td>
        <td>{{row[10]}}</td>
        <td>{{row[11]}}</td>
        <td>{{row[12]}}</td>
        <td>{{row[13] | number:2}}</td>
      </tr>
    </tbody>
  </table>

<table ng-show="!itemlot_level && report_type.consumption && !loading_report" class="table table-striped">
    <thead>
      <tr>
        <th>Item</th>
        <th>Item Category</th>
        <th>Opening Qty</th>
        <th>Received Qty </th>
        <th>Closing Qty</th>
        <th>Consumed Qty </th>
        <th>Expired Qty</th>
        <th>Lost/Damanged Qty</th>
        <th>Adjustments Qty</th>
        <th>Avg Unit Price</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in report_rows">
        <td><a href="#/item/{{row[0]}}?location={{location.id}}">{{row[1]}}</a></td>
        <td class="small">{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>
        <td>{{row[5]}}</td>
        <td>{{row[6]}}</td>
        <td>{{row[7]}}</td>
        <td>{{row[8]}}</td>
        <td>{{row[9]}}</td>
        <td>{{row[10] | number:2}}</td>
      </tr>
    </tbody>
  </table>

 <table ng-show="report_type.expirations && !loading_report" class="table table-striped">
    <thead>
      <tr>
        <th>Item</th>
        <th>Item Category</th>
        <th>ItemLot System ID</th>
        <th>Expiration</th>
        <th>ItemLot Number</th>
        <th>Expired Qty</th>
        <th>Unit Price</th>
          <th>Total Value</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in report_rows">
        <td><a href="#/item/{{row[0]}}?location={{location.id}}">{{row[1]}}</a></td>
        <td class="small">{{row[2]}}</td>
        <td><a href="#/item/{{row[0]}}?location={{location.id}}&itemlot={{row[3]}}">{{row[3]}}</a></td>
        <td>{{row[4]}}</td>
        <td>{{row[5]}}</td>
        <td>{{row[6]}}</td>
        <td>{{row[7] | number:2}}</td>
        <td>{{row[8] | number:2}}</td>
      </tr>
    </tbody>
  </table>

</div>