<div class="container main-container">
	<form class="form-horizontal">
		{% csrf_token %}
		<legend>Log in</legend>
		<div class="control-group">
			<label class="control-label" for="signin_email">Name</label>
			<div class="controls">
				<input type="text" id="signin_email" placeholder="Name">
				<span class="hide help-inline no_email">Username does not exist. Please correct, or sign up below if you're a new user.</span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="signin_password">Password</label>
			<div class="controls">
				<input type="password" id="signin_password" placeholder="Password">
				<span class="hide help-inline">Password is not correct.</span>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn" id="signin">Sign in</button>
			</div>
		</div>
	</form>
</div>

<script src="/static/js/accounts.js"></script>
