<div id="dashcontainer">
  <div id="shipments-summary" class="hidden"></div>
  <hr>
  <div id="loading">
    <i class="fa fa-spinner fa-pulse fa-2x"></i>
  </div>
  <div id="shipments" class="hidden">
  </div>
</div>