<div id="dashcontainer">
  <div class="row">
    <h4 class="three columns left">2013 - 2015</h4>
    <div id="shipments-summary"  class="three columns right-totals"></div>
  </div>
  <hr>
  <div id="loading">
    <i class="fa fa-spinner fa-pulse fa-2x"></i>
  </div>
  <div id="shipments" class="hidden">
  </div>
</div>