<div id="dashcontainer">
  <h4>Shipments<span id="filter-description" class="small-in-header"></span></h4>
  <hr class="tight-hr">
  <div class="filters"></div>
  <div id="loading">
    <i class="fa fa-spinner fa-pulse fa-2x"></i>
  </div>
  <div id="shipments-loading-container" class="hidden">
    <div id="shipments-summary"></div>
    <div id="shipments"></div>
  </div>
</div>
