<div id="dashcontainer">
  <div class="row">
    <h4 class="three columns left">2013 - 2015</h4>
    <div id="transactions-summary"  class="three columns right-totals"></div>
  </div>
  <hr>
  <div id="transactionsdiv">
    <i class="fa fa-spinner fa-pulse fa-2x"></i>
  </div>
</div>