<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Supply Chain</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#/">main</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="dashcontainer">
  <h1>All Transactions: {{title}} <a href="#" class="showButtons small">change dates</a></h1>
  <hr>
  <div class="btn-group btn-group-justified dateSelect hide">
    {{#each buttons}}
    <a href="#" class="btn btn-default">{{this}}</a>
    {{/each}}
    <br>
    <br>
  </div>
  <div class="center">
    <i class="fa fa-spinner fa-spin fa-5x"></i>
  </div>
  <div class="dashmain hide"></div>
</div>