<div id="dashcontainer">
  <h4>Shipments<span id="filter-description" class="small-in-header"></span></h4>
  <hr class="tight-hr">
  <div id="filters"></div>
  <div id="shipments-summary" class="hidden"></div>
  <div id="loading">
    <i class="fa fa-spinner fa-pulse fa-2x"></i>
  </div>
  <div id="shipments" class="hidden">
  </div>
</div>