<div class="dashcontainer">
  <h4>Transactions: 2013 - 2015</h5>
  <hr>
  <div class="btn-group btn-group-justified dateSelect hide">
    {{#each buttons}}
    <a href="#" class="btn btn-default">{{this}}</a>
    {{/each}}
    <br>
  </div>
  <div class="center">
  </div>
  <div class="dashmain hide"></div>
</div>