<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" id="toggleNav">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <a class="navbar-brand" href="{{$baseUrl}}">Supply Chain</a>
    </div>
    <div class="collapse navbar-collapse" id="collapsedNav">
      <form class="navbar-form navbar-left" role="search">
        <div class="search-holder"></div>
      </form>
      <form class="navbar-form navbar-right">
        <div class="location-holder"></div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{$baseUrl}}admin" >admin</a></li>
        <li><a href="{{$baseUrl}}logout" >logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container"></div>
