<div class="view-header">
  <h4>{{this}}</h4>
</div>

<div class="results-table">
  <div class="progress">
    <div class="progress-bar progress-bar-striped active" style="width: 100%"></div>
  </div>
</div>
