<div class="panel panel-default centered-panel" id="loading">
  <div class="panel-body">
    <h5>
      <i id="loading-spinner" class="fa fa-spinner fa-pulse"></i> 
      <span id="loading-check" class="label label-success success-box"><i class="fa fa-check"></i></span>
      <span id="loading-text">Loading</span></h5>
  </div>
</div>