<h4>Copying data for offline use.</h4>
Copied {{$num offset}} of {{$num totalShipments}} shipments.
<div class="progress progress-striped active">
  <div class="progress-bar progress-bar-success" style="width: {{pct}}%"></div>
</div>