<ul class="pagination pagination-sm right">
  <li id="previous"><a href="/#/">&laquo;</a></li>
  <li class="disabled"><a class="darker" href="#">{{$pageNumbers this.skip this.fetched_rows_length this.total_rows_length}} of {{$num this.total_rows_length}}</a></li>
  <li id="next"><a href="/#/">&raquo;</a></li>
</ul>
