<div class="query-view-header">
  <h2>{{this.title}}</h2>
  <h4>{{this.secondary_title}}</h4>
</div>
<div class="details right"></div>
<div class="results-table">
  <div class="progress">
    <div class="progress-bar progress-bar-striped active" style="width: 100%"></div>
  </div>
</div>
