<table class="table table-striped table-hover">
  <thead>
    <tr>
      {{#each this.headers}}
        <th>{{this}}</th>
      {{/each}}
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.results}}
    <tr>
      {{#each this.key}}
        <td>{{this}}</td>
      {{/each}}
      <td>{{$num this.value}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
