<div class="query-view-header">
  <h2>{{this.title}}</h2>
  <h4>{{this.secondary_title}}</h4>
</div>
<div class="details right"></div>
<div class="results-table">
  <div id="loading">
    <i class="fa fa-spinner fa-pulse fa-2x"></i>
  </div>
</div>
