<input type="text" class="form-control search-input" placeholder="Search">
<div class="search search-view">
  <i class="loading-spinner" class="fa fa-spinner fa-pulse"></i>
  <div class="search-results"></div>
</div>
