<button type="button" class="btn btn-default search-button" data-toggle="modal" data-target="#item-search-modal">search</button>
<div class="modal fade" id="item-search-modal" role="dialog" aria-labelledby="item-search-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Item Search</h4>
        <input type="text" class="form-control search-input" placeholder="item name">
      </div>
      <div class="modal-body">
        <i class="loading-spinner" class="fa fa-spinner fa-pulse"></i>
        <div class="search-results"></div>
      </div>
      <br>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
