<button type="button" class="btn btn-default search-button">search</button>
<div class="modal search">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <i class="loading-spinner" class="fa fa-spinner fa-pulse"></i>
      <div class="search-results"></div>
    </div>
  </div>
</div>
