{{#each this}}
<a class="search-drop-item" href="{{$baseUrl}}{{this.url}}">
  <div class="primary">{{this.primary}}</div>
  <div class="secondary">{{this.secondary}}</div>
  <div class="secondary">{{this.tertiary}}</div>
</a>
{{/each}}
