<h4>{{$dateString date_string}} 2013 - 2015 | All Locations </h4>
shipments: <strong>{{$num this.[0]}}</strong> | total value: <strong>{{$currency this.[1]}}</strong> | total transactions: <strong>{{$num this.[2]}}</strong>