<div id="status-complete">
  <h4> <span class="label label-success success-box"><i class="fa fa-check"></i></span> Everything is up to date.</h4>
  <div class="left-margin">
    <div>Server checked <strong>{{$dateFormat checkedDate calendar=true}}</strong></div>
    <div><strong>100%</strong> of {{$num totalTransactions}} transactions are synced locally.</div>
  </div>
</div>