<h2>Offline Data</h2>

Found {{newTransactions}} new transactions on server. Loaded {{offset}} of {{newTransactions}}.
<div class="progress progress-striped active">
  <div class="progress-bar progress-bar-success" style="width: {{pct}}%"></div>
</div>

{{$json latestTransactions}}
