<!doctype html>
<html lang="en" ng-app="SupplyChainApp">
<head>
  <meta charset="utf-8">
  <title>Inventory Management</title>
  <link rel="stylesheet" href="static/bots_angular/app/css/bootstrap.yeti.min.css"/>
  <link rel="stylesheet" href="static/bots_angular/app/css/app.css"/>
</head>
<body>
  <div ng-view class="ng-view-top"></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="static/bots_angular/app/vendor/jquery-1.10.2.min.js"></script>
  <script src="static/bots_angular/app/vendor/angular/angular.js"></script>
  <script src="static/bots_angular/app/vendor/angular/angular-route.js"></script>
  <script src="static/bots_angular/app/vendor/angular/angular-cookies.js"></script>
  <script src="static/bots_angular/app/vendor/lodash-2.4.1.js"></script>
  <script src="static/bots_angular/app/vendor/ui-bootstrap-0.6.0.js"></script>
  <script src="static/bots_angular/app/vendor/bootstrap.min.js"></script>
  <script src="static/bots_angular/app/js/django_cookie_business.js"></script>
  <script src="static/bots_angular/app/js/controllers/globals-controller.js"></script>
  <script src="static/bots_angular/app/js/controllers/shipment-controller.js"></script>
  <script src="static/bots_angular/app/js/controllers/reports-controller.js"></script>
  <script src="static/bots_angular/app/js/controllers/item-controller.js"></script>
  <script src="static/bots_angular/app/js/controllers/receive-controller.js"></script>
  <script src="static/bots_angular/app/js/controllers/transfer-controller.js"></script>
  <script src="static/bots_angular/app/js/controllers/physical-controller.js"></script>
  <script src="static/bots_angular/app/js/controllers/edit-physical-controller.js"></script>
  <script src="static/bots_angular/app/js/controllers/items-controller.js"></script>
  <script src="static/bots_angular/app/js/controllers/locations-controller.js"></script>
  <script src="static/bots_angular/app/js/controllers/patients-controller.js"></script>
  <script src="static/bots_angular/app/js/controllers/users-controller.js"></script>
  <script src="static/bots_angular/app/js/controllers/transactions-controller.js"></script>
  <script src="static/bots_angular/app/js/services/globals-service.js"></script>
  <script src="static/bots_angular/app/js/services/utils-service.js"></script>
  <script src="static/bots_angular/app/js/services/serverdata-service.js"></script>
  <script src="static/bots_angular/app/js/filters.js"></script>
  <script src="static/bots_angular/app/js/directives/edit-patient-directive.js"></script>
  <script src="static/bots_angular/app/js/directives/search-location-directive.js"></script>
  <script src="static/bots_angular/app/js/directives/edit-item-directive.js"></script>
  <script src="static/bots_angular/app/js/directives/edit-location-directive.js"></script>
  <script src="static/bots_angular/app/js/directives/view-patient-directive.js"></script>
  <script src="static/bots_angular/app/js/directives/edit-user-directive.js"></script>
  <script src="static/bots_angular/app/js/directives/download-directive.js"></script>
  <script src="static/bots_angular/app/js/directives.js"></script>
  <script src="static/bots_angular/app/js/app.js"></script>

</body>
</html>
