<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Inventory Management - Reporting Dash</title>
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/static/sc/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/static/sc/css/sc.css"/>
</head>
<body>
  <div>
    <h3 class="title">Supply Chain Dashboard</h3>
    <div id="dash"></div>
  </div>
  <script data-main="/static/sc/js/main" src="/static/sc/bower_components/requirejs/require.js"></script>
</body>
</html>
