
<!-- add item modal -->
<div class="modal" id="add_item_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create new item <strong>{{new_item.name}}</strong></h4>
      </div>
      <div class="modal-body">
        <form class="form" role="form">
          <div class="form-group">
            <label for="new_item.name">New Item: </label>
            <input type="text" class="form-control input" ng-model="new_item.name"/>
          </div>
          <div class="form-group">
            <label for="new_item.dispense_size" tooltip="The size in which you measure transfers between store rooms">Pack size: </label>
            <input type="text" class="form-control input dispense_size_input" ng-model="new_item.dispense_size"/>
          </div>
          <div class="form-group new_item_category">
            <label for="new_item_category" id="new_item_category">Item Category:</label>
            <span ng-hide="new_item.category"><ia-search-drop search-drop-config="category_search_config"></ia-search-drop></span>
            <div ng-show="new_item.category">{{new_item.category.name}} <a href ng-click="change_category()">(change)</a></div>
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" ng-click="submit_new_item()" class="btn btn-primary create_item_btn">Create Item</button>
      </div>
        </form>

      </div>
    </div>
  </div>
</div>