
<!-- add to location modal -->
<div class="modal" id="add_patient_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel" ng-hide="patient.id">Create new patient <strong>{{patient.identifier}}</strong></h4>
        <h4 class="modal-title" id="myModalLabel" ng-show="patient.id">Edit patient <strong>{{patient.identifier}} | {{patient.id}}</strong></h4>
      </div>
      <div class="modal-body">
        <form class="form" role="form">
          <div class="form-group">
            <label for="new_patient_name">Identifier: </label>
            <input ng-blur="check_identifier(patient.editing_identifier)" ng-hide="patient.identifier" type="text" class="form-control input identifier_input" ng-model="patient.editing_identifier"/>
            <div ng-show="patient.bad_identifier" id="bad_identifier" class="text-danger">Patient with identifier {{patient.editing_identifier}} already exists.</div>
            <p class="form-control-static" ng-show="patient.identifier">
              {{patient.identifier}}
              <a href ng-show="patient.identifier" ng-click="edit_identifier()">(edit)</a>
            </p>
          </div>
          <div class="form-group">
            <label for="new_patient_name">Name: </label>
            <input ng-hide="patient.name" ng-blur="check_name(patient.editing_name)" type="text" class="form-control input" ng-model="patient.editing_name"/>
            <p class="form-control-static" ng-show="patient.name">
              {{patient.name}}
              <a href ng-show="patient.name" ng-click="edit_patient_name()">(edit)</a>
            </p>
            <div ng-show="patient.warn_name" id="warn_name" class="text-warning">Warning: patient with name {{patient.editing_name}} already exists.</div>
          </div>
          <div class="form-group">
            <label for="new_patient_name">Gender: </label>
              <div class="radio">
                <label>
                  <input type="radio" ng-model="patient.gender" name="gender_radio" id="male" value="M">
                  Male
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" ng-model="patient.gender" name="gender_radio" id="female" value="F">
                  Female
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" ng-model="patient.gender" name="gender_radio" id="unspecified" value="N">
                  Not specified
                </label>
              </div>
          </div>
          <div class="form-group">
            <label for="patieng_dob">Age (or date of birth, dd/mm/yy): </label>
            <input ng-hide="patient.dob" type="text" class="form-control input" ng-blur="submit_age(patient.editing_dob)" placeholder="dd/mm/yy or e.g. 32" ng-model="patient.editing_dob">
            <div ng-show="bad_age" id="bad_date" class="text-danger">Invalid, date must be valid and in the format dd/mm/yy</div>
            <p class="form-control-static" ng-show="patient.dob">
              {{patient.dob |  date:'MMMM d, yyyy' }}
              <a href ng-show="patient.dob" ng-click="edit_dob()">(edit)</a>
            </p>
          </div>
          <div class="form-group">
            <label for="new_patient_name">District: </label>
            <span ng-hide="patient.district"><ia-search-drop search-drop-config="district_search_config"></ia-search-drop></span>
            <div ng-show="patient.district">{{patient.district.name}} <a href ng-click="change_district()">(change)</a></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" ng-click="create_patient(patient)"><span ng-hide="patient.id">Create</span><span ng-show="patient.id">Update</span> patient</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>